<!DOCTYPE html>
<html lang="hu" 
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      layout:decorate="~{layout/main}" h:with="currentPage='project'">

<head>
<title>Géppark</title>
<meta charset="utf-8" />
<script th:src="@{/js/project_api.js}"></script>
</head>

<body>

  <div layout:fragment="content">

    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">Projektek</li>
    </ol>

    <table id="project_table" class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Projekt Név</th>
				<th>Projekt Csoportjai</th>
				<th>Tulajdonosok</th>
				<th class="col-xs-1">Törlés</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}" th:object="${project}">
				<td th:text="*{id}"></td>
				<td>
					<a th:href="@{/project/view/} + *{id}">
						<span th:text="*{name}"></span>
					</a>
				</td>
				<td>
					<ul>
						<li th:each="group : *{groups}" th:object="${group}">
							<a th:href="@{/group/view/} + *{id}">
								<span th:text="*{name}"></span>
							</a>
							(<span th:text="*{getMachines().size()}"></span> gép)
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li th:each="owner : *{owners}" th:object="${owner}">
							<a th:href="@{/user/view/} + *{id}">
								<span th:text="*{fullname}"></span>
							</a>
						</li>
					</ul>
				</td>
				
				<td>
				<!-- th:if="${#authentication.principal.projects.contains(project)}" -->
					<div th:if="${project.owners.contains(#authentication.principal)}">
						<a th:onclick="'javascript:deleteProject(\'' + *{id} + '\')'" class="btn btn-danger" role="button" style="display:block;">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<form id="newProjectForm" class="form-inline" action="#">
	  <div class="form-group">
	    <label for="email">Új projekt hozzáadása:</label>
	    <input type="text" class="form-control" id="name">
	  </div>
	  <div class="form-group">
	  	<button th:onclick="'javascript:createProject()'" class="btn btn-primary">Létrehozás</button>
	  </div>
	</form>

  </div>

</body>

</html>