<!DOCTYPE html>
<html lang="hu" 
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      layout:decorate="~{layout/main}" h:with="currentPage='project'">

<head>
<title>Géppark</title>
<meta charset="utf-8" />
</head>

<body>

  <div layout:fragment="content">

    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">Projektek</li>
    </ol>

    <table id="project_table" class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Név</th>
				<th>Csoportok</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}" th:object="${project}">
				<td th:text="*{id}"></td>
				<td>
					<a th:href="@{/project/view/} + *{id}">
						<span th:text="*{name}"></span>
					</a>
				</td>
				<td>
					<ul>
						<li th:each="group : *{groups}" th:object="${group}">
							<a th:href="@{/group/view/} + *{id}">
								<span th:text="*{name}"></span>
							</a>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

  </div>

</body>

</html>