<!DOCTYPE html>
<html lang="hu" 
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      layout:decorate="~{layout/main}" h:with="currentPage='machine'">

<head>
<title>Géppark</title>
<meta charset="utf-8" />
</head>

<body>

  <div layout:fragment="content">

    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">Géppark</li>
    </ol>

    <div th:each="project : ${projects}">
    
    
      <div th:replace="machine/fragment/projectFragment :: project">Machine Project</div>



    </div>


    <script th:src="@{/js/pinger.js}"></script>

  </div>

</body>

</html>