<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="utf-8"/>
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-collapse-navbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
		      	</button>
				<a class="navbar-brand" href="/">MachineManager</a>
			</div>
			<div class="collapse navbar-collapse"
				id="my-collapse-navbar">
				<ul class="nav navbar-nav">
					<li th:classappend="${currentPage == 'home' ? 'active' : ''}">
						<a href="/">Kezdőlap</a>
					</li>
					<li class="dropdown" th:classappend="${currentPage == 'machine' ? 'active' : ''}">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Virtuális Gépek<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/machine/list">Géppark</a></li>
							<li><a href="/machine/new">+ Hozzáadás</a></li>
						</ul>
					</li>
					
					<li class="dropdown" th:classappend="${currentPage == 'user' ? 'active' : ''}">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Felhasználók <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/user/list">Összes felhasználó</a></li>
						</ul>
					</li>
				</ul>
				
				<div sec:authorize="isAnonymous()" class="navbar-text navbar-right">
					<a href="#"><span class="glyphicon glyphicon-user"></span> Regisztráció</a>
					&nbsp | &nbsp 
			    	<a href="/login"><span class="glyphicon glyphicon-log-in"></span> Bejelentkezés</a>
				</div>
				
				<div sec:authorize="isAuthenticated()" class="navbar-text navbar-right">
					<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
				</div>
								
				<div sec:authorize="isAuthenticated()" class="navbar-text navbar-right">
					Welcome <span sec:authentication="name">UserName</span>
					<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline"></form>
				</div>	
				
			</div>
		</div>
	</nav>
</body>

