<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>

  <div th:fragment="machine" class="panel panel-default" th:object="${machine}">

    <div class="panel-heading" data-toggle="collapse" th:href="|#*{id}|">
      <h4 class="panel-title">
        <i class="fas fa-desktop">
          <span th:text="*{name}">Machine Name</span>
        </i>
        <i th:data-address="*{address}" class="pingable loader"></i>
        <span class="caret pull-right"></span>
        <span class="clearfix"></span>
      </h4>
    </div>

    <div th:id="*{id}" class="panel-collapse collapse">
      <div class="panel-body">

        <a th:href="@{/machine/edit/} + *{id}" class="btn btn-default btn-sm pull-right" role="button">
        <i class="glyphicon glyphicon-edit"></i>
        	adatlap megnyitása
        </a>

        <p>
          <strong>id:</strong> <span th:text="*{id}"></span>
        </p>

        <p>
          <strong>név:</strong> <span th:text="*{name}"></span>
        </p>

        <p>
          <strong>leírás:</strong> <span th:text="*{description}"></span>
        </p>

        <p>
          <strong>cím:</strong> <span th:text="*{address}"></span>
        </p>

        <p>
          <strong>létrehozva:</strong> <span th:text="*{#calendars.format(creationDate, 'yyyy. MMMMM dd. HH:mm')}"></span>
        </p>

      </div>
    </div>
  </div>
</body>