html { 
	margin-left: calc(100vw - 100%);
}

:root {
    --icon-size: 10px;
    --spinner-size: 14px;
}

.navbar {
	margin-top: 20px;
}

.loader {
  display: inline-block;
  width: var(--spinner-size);
  height: var(--spinner-size);
}
.loader:after {
  content: " ";
  display: block;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin: 1px;
  border-radius: 50%;
  border: 1.5px solid #3498db; /* Blue */
  border-color: #3498db transparent #3498db transparent; /* Blue */
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.responded {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 4px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 0px 12px;
}

.timeout {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 4px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 0px 12px;
}





.dropdown-submenu{
    position:relative;
} 
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
} 
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
 
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
 
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
 
.dropdown-submenu .pull-left{
    float:none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.root:hover > .dropdown-menu{
    display: block;
}