<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}"
	th:with="currentPage='machine'">

<head>
<meta charset="utf-8" />
</head>

<body>
  <div th:fragment="group" th:object="${group}">

    <div class="row">
      <!-- <div class="col-sm-1"></div> -->
      <h4 th:text="${group.name}" class="col-sm-11">Group Name</h4>
    </div>

    <div class="row" th:each="machine : ${group.machines}">
      <!-- <div class="col-sm-1"></div> -->
      <div th:replace="machine/fragment/machineFragment :: machine">Virtual Machine</div>
    </div>

  </div>
</body>