<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}"
	th:with="currentPage='machine'">

<head>
<meta charset="utf-8" />
</head>

<body>
  <div th:fragment="group" th:object="${group}" class="col-sm-6">

    <div class="panel panel-group panel-default panel-custom">

        <div class="panel-heading">
          <h4 class="panel-title">
            <span th:text="${group.name}"></span>
            <span th:if="${group.machines.empty}" class="label label-default">(üres)</span>
          </h4>
        </div>

        <div class="panel-body" th:each="machine : ${group.machines}">
          <div th:replace="machine/fragment/machineFragment :: machine">Virtual Machine</div>
        </div>

    </div>

    

    

  </div>
</body>